//variables
$light-button-margin: 20px;
$light-button-border: 1;

$button-background: white;
$button-border-radius: 15px;
$button-padding: 10px;
$button-click-background: rgba(80, 191, 228, 0.1);
$button-transition: 0.3s;

$submit-button-vertical-margin: 10px;

$contrast-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
$red-border: 1px solid rgba(80, 191, 228, 0.6);

$form-label-font-size: 14pt;
$form-label-top-margin: 15px;
$form-label-bottom-margin: 5px;
$form-label-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//styles
@mixin icon {
    background-size: 100% 100%;
    float: left;
    width: 40px;
    height: 40px;
}

.form-label {
    display: block;
    font-size: $form-label-font-size;
    margin-top: $form-label-top-margin;
    margin-bottom: $form-label-bottom-margin;
    font-family: $form-label-font-family;
}

.inline-data {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10pt;

    label {
        margin-right: 5px;
    }
}

.required-field {
    font-weight: bold;
    color: red;
}

.right-align{
    text-align: right;
}

.button {
    padding: $button-padding;
    background: $button-background;
    border-radius: $button-border-radius;
    border: $red-border;
    cursor: pointer;
    box-shadow: $contrast-box-shadow;
}

.button:active{
    background: $button-click-background;
    transition: $button-transition;
}

.submit-button {
    margin-top: $submit-button-vertical-margin;
    margin-bottom: $submit-button-vertical-margin;
    font-weight: bold;
}

.light-buttons-div {
    text-align: center;
}

.light-button {
    margin: $light-button-margin;
}

.light-on-icon{
    background: url('../icons/light-on.png') no-repeat;
    @include icon();
}

.light-off-icon {
    background: url('../icons/light-off.png') no-repeat;
    @include icon();
}

.input-text {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    border-radius: $button-border-radius;
    border: $red-border;
    box-shadow: $contrast-box-shadow;
}