@import 'mixins.scss';
@import 'terrain.scss';
@import 'building.scss';
@import 'controls.scss';

//variables
$building-div-size: 60%;
$controls-div-width: 100% - $building-div-size;
$controls-pading: 2%;

//styles
* {
    box-sizing: border-box;
}

html{
    @include full-size();
    @include marin-0();
    @include padding-0();
    @include max-height-100();
    overflow: hidden;
}

body{
    @include full-size();
    @include marin-0();
    @include padding-0();
    @include max-height-100();
}

div {
    @include marin-0();
}

label {
    font-weight: bold;
}

#root{
    @include full-size();
    @include marin-0();
    @include padding-0();
    @include max-height-100();
}

.application{
    @include full-size();
    @include max-height-100();
    display: flex;
    flex-direction: row;
}

.terrain{
    @include full-height();
    width: $building-div-size;
    @include max-height-100();
    background: lightblue;
}

.terrain.night {
    background: #222222;
}

.controls-area{
    @include full-height();
    width: $controls-div-width;
    padding: $controls-pading;
    overflow: auto;
}